@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #180030;
  background-image: radial-gradient(circle, rgba(180, 130, 255, 0.16) 1px, transparent 1px);
  background-size: 28px 28px;
  color: #ffffff;
}

.preahvihear-regular {
  font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
}
